$source-sans-light: 300;
$source-sans-bold: 700;
$karla-normal: 400;
$blue: #81CFE0;
$navy: #1F3A93;
$black: #333333;
$white: #FFFFFF;
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
