@import 'variables';

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $source-sans-light;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
}

a {
    color: $navy;
    text-decoration: none;

    &:hover, &:active, &:visited {
        text-decoration: none;
    }
}
