@import 'variables';
@import 'mixins';

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $light-weight;
    min-width: 320px;
}

.hidden {
    display: none;
}

strong {
    font-weight: $bold-weight;
}
