@import 'variables';

#landing {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $navy;
  background-color: $white;

  &.loaded {
    transition: background-color 2s linear;
  }

  .logo {
    transform: translateY(-50%);
    text-transform: uppercase;
  }

  .logo__top {
    transition: text-shadow 2s linear;
    transform: rotate(-17deg) skewX(35deg) skewY(0deg);
    letter-spacing: 0.26em;
    opacity: 0;
    color: transparent;
    text-shadow: -1px 1px 0 $blue,
    -2px 2px 0 $navy,
    -3px 3px 0 $navy,
    -4px 4px 0 $navy,
    -5px 5px 0 $navy,
    -6px 6px 0 $navy,
    -7px 7px 0 $navy,
    -8px 8px 0 $navy,
    -9px 9px 0 $navy,
    -10px 10px 0 $navy;
    font-size: 40px;
  }

  .logo__bottom {
    width: 240px;
    margin: 30px 0 0 25px;
    transform: skewY(-17deg);
    letter-spacing: 2.5px;
    opacity: 0;
    color: $navy;
    line-height: 1.5;
  }

  .logo__bottom__links {
    position: absolute;
    margin-top: 20px;
  }

  .logo__bottom__link {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding: 3px 5px 6px 10px;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      content: '';
      transition: transform 0.15s $easeInOutCubic;
      transform-origin: top;
      background-color: $navy;
    }

    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      transition: transform 0.15s $easeInOutCubic;
      transition-delay: 0.1s;
      transform-origin: right;
      background-color: $navy;
    }

    @media (min-width: 800px) {
      &:hover {
        &:before {
          transform: scaleY(0);
        }

        &:after {
          transform: scaleX(0);
        }

        span {
          &:before {
            transform: scaleY(1);
          }

          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .logo__bottom__link span {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      content: '';
      transition: transform 0.15s $easeInOutCubic;
      transition-delay: 0.1s;
      transform: scaleY(0);
      transform-origin: bottom;
      background-color: $navy;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      transition: transform 0.15s $easeInOutCubic;
      transform: scaleX(0);
      transform-origin: left;
      background-color: $navy;
    }
  }

  .social {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social__link {
    margin-right: 15px;
    padding: 5px;
    opacity: 0;

    &:last-of-type {
      margin-right: 0;
    }

    .icon {
      width: 18px;
      height: 18px;
    }

    .icon--dribbble {
      width: 17px;
      height: 17px;
    }
  }
}
