@import 'variables';
@import 'mixins';

.logo {
	font-size: 40px;
	text-transform: uppercase;

	.top {
		font-size: 1em;
		font-weight: $normal-weight;
		letter-spacing: 0.26em;
		color: transparent;
		transform: rotate(-17deg) skewX(35deg) skewY(0deg);
		transition: text-shadow 2s;
		text-shadow: -1px 1px 0px $blue,
					 -2px 2px 0px $navy,
					 -3px 3px 0px $navy,
					 -4px 4px 0px $navy,
					 -5px 5px 0px $navy,
					 -6px 6px 0px $navy,
					 -7px 7px 0px $navy,
					 -8px 8px 0px $navy,
					 -9px 9px 0px $navy,
					 -10px 10px 0px $navy;
	}

	.bottom {
		width: 240px;
		line-height: 1.3em;
		margin: 1.6em 0 0 2em;
		font-size: 0.45em;
		letter-spacing: 0.15em;
		color: $navy;
		transform: skewY(-17deg);
	}
}
