@import 'variables';
@import 'mixins';

#portfolio {
    color: $black;

    .border {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5px;
        background-color: $navy;
    }

    .landing-link {
        position: fixed;
        top: 15px;
        left: 10px;
        letter-spacing: 0.1em;
        padding: 0.5em;
        cursor: pointer;
        color: $navy;
    }

    .content {
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        font-family: 'Work Sans', sans-serif;
        display: inline-block;
        color: $navy;
        padding: 10px 20px;
        margin: 6em 0 2em 0;
        letter-spacing: 0.2em;
        line-height: 1.4em;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;

        .outline {
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            border: 1px solid $navy;
            transition: transform 2s;
        }
    }

    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: $bold-weight;
        font-size: 2em;
        border-bottom: 1px solid $black;
        padding-bottom: 0.4em;
    }

    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: $bold-weight;
        font-size: 1.3em;
        margin: 2.5em 0 1em;
    }

    .tags {
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 0.05em;
        background: rgba(0, 0, 0, 0.03);
        padding: 10px;
        font-weight: $normal-weight;
    }

    p {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.8em;
        margin: 1em 0;

        &.caption {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 0.9em;
            margin: 2em 0 1em;
            text-align: center;

            strong {
                font-weight: $bold-weight;
            }
        }
    }

    .projects {
        .project {
            text-align: left;
            margin: 4em 0 6em 0;
            padding: 0 3em 3em;

            .image-container {
                margin-top: 2em;
                text-align: center;

                .thumb {
                    display: inline-block;
                    width: 22%;
                    height: 6em;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-left: 4%;
                    cursor: pointer;
                    padding-bottom: 3px;
                    border: 3px solid $white;

                    &:first-of-type {
                        margin-left: 0;
                    }

                    &.current {
                        border-color: $navy;
                    }

                    &:hover:not(.current) {
                        border-color: rgba(0, 0, 0, 0.1);
                    }
                }

                .large {
                    width: 100%;
                }
            }
        }
    }
}
