@import 'variables';

#portfolio {
  color: $dark-gray;

  .border {
    background-color: $navy;
    height: 5px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .goBack {
    color: $navy;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-weight: $karla-normal;
    left: 13px;
    opacity: 0;
    padding: 5px;
    position: fixed;
    top: 15px;
    z-index: 1;

    &:before {
      background-color: $navy;
      bottom: 0;
      content: '';
      height: 1px;
      left: 5px;
      position: absolute;
      right: 5px;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.2s $easeInOutCubic;
    }

    @media (min-width: 800px) {
      &:hover:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    @media (max-width: 799px) {
      position: absolute;
    }
  }

  .content {
    margin: 0 auto;
    max-width: 720px;
    opacity: 0;
  }

  .header {
    overflow-x: hidden;
    text-align: center;
  }

  h1 {
    color: $navy;
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: $karla-normal;
    letter-spacing: 2.5px;
    margin: 120px -20px 60px -20px;
    padding: 17px 25px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .header__outline {
    border: 1px solid $navy;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 2s $easeOutCubic;
  }

  h2 {
    border-bottom: 1px solid $dark-gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: $source-sans-bold;
    padding-bottom: 15px;
  }

  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: $source-sans-bold;
    margin: 30px 0 20px 0;
  }

  .tags {
    background: $very-light-gray;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: $karla-normal;
    margin-bottom: 30px;
    padding: 15px;
  }

  p {
    font-family: 'Karla', sans-serif;
    font-weight: $karla-normal;
    line-height: 1.6;
  }

  .caption {
    font-size: 16px;
    margin: 30px 0 20px 0;
    text-align: center;

    .strong {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: $source-sans-bold;
    }
  }

  .project {
    margin: 40px 20px 80px 20px;
  }

  .project__images {
    margin-top: 30px;
    text-align: center;

    .thumb {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: 3px solid $very-light-gray;
      cursor: pointer;
      display: inline-block;
      height: 100px;
      width: 130px;

      &:not(:first-of-type) {
        margin-left: 20px;
      }

      @media (min-width: 800px) {
        &:hover:not(.thumb--current) {
          border-color: $light-gray;
        }
      }

      @media (max-width: 799px) {
        height: 60px;
        width: 80px;

        &:not(:first-of-type) {
          margin-left: 10px;
        }
      }
    }

    .thumb--bleed {
      background-size: cover;
    }

    .thumb--current {
      border-color: $navy;
    }

    .large {
      border-bottom: 1px solid $light-gray;
      width: 100%;
    }
  }
}
