@import 'variables';

#portfolio {
  color: $dark-gray;

  .border {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100vh + 5px);
    transform: translateY(-100vh);
    background-color: $navy;
  }

  .link {
    position: relative;
    cursor: pointer;
    color: $navy;

    &:before {
      position: absolute;
      right: 0;
      bottom: -3px;
      left: 0;
      height: 1px;
      content: '';
      transition: transform 0.2s $easeInOutCubic;
      transform: scaleX(0);
      transform-origin: right;
      background-color: $navy;
    }

    @media (min-width: 800px) {
      &:hover:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  .link--back {
    position: fixed;
    z-index: 1;
    top: 15px;
    left: 13px;
    opacity: 0;
    font-family: 'Karla', sans-serif;
    font-weight: $karla-normal;

    @media (max-width: 799px) {
      position: absolute;
    }
  }

  .content {
    max-width: 720px;
    margin: 0 auto;
    opacity: 0;
  }

  .header {
    overflow-x: hidden;
    text-align: center;
  }

  h1 {
    position: relative;
    display: inline-block;
    margin: 120px -20px 60px -20px;
    padding: 17px 25px;
    white-space: nowrap;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: $navy;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: $karla-normal;
  }

  .header__outline {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 1.5s $easeOutCubic;
    border: 1px solid $navy;
  }

  h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid $dark-gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: $source-sans-bold;
  }

  h3 {
    margin: 30px 0 20px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: $source-sans-bold;
  }

  .tags {
    margin-bottom: 30px;
    padding: 15px;
    background: $very-light-gray;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: $karla-normal;
  }

  p {
    font-family: 'Karla', sans-serif;
    font-weight: $karla-normal;
    line-height: 1.6;
  }

  .caption {
    margin: 30px 0 20px 0;
    text-align: center;
    font-size: 16px;

    .strong {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: $source-sans-bold;
    }
  }

  .project {
    margin: 40px 20px 80px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-gray;
  }

  .project__images {
    margin-top: 30px;
    text-align: center;

    .thumb {
      display: inline-block;
      width: 130px;
      height: 100px;
      cursor: pointer;
      border: 3px solid $very-light-gray;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80%;

      &:not(:first-of-type) {
        margin-left: 20px;
      }

      @media (min-width: 800px) {
        &:hover:not(.thumb--current) {
          border-color: $light-gray;
        }
      }

      @media (max-width: 799px) {
        width: 80px;
        height: 60px;

        &:not(:first-of-type) {
          margin-left: 10px;
        }
      }
    }

    .thumb--current {
      border-color: $navy;
    }

    .large {
      width: 100%;
      max-width: 500px;
      height: 500px;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
    }
  }
}
