@import variables
@import mixins

.landing
    align-items: center

    .content
        display: block

    h1
        font-size: 5.6em
        letter-spacing: .1em

        +media-xs
            font-size: 4.6em

    h2
        font-size: 1.2em
        font-weight: $normal
        padding-bottom: 1.5em
        letter-spacing: .3em

    h3
        font-size: 1.2em
        font-weight: $normal
        line-height: 1.6em
        display: inline-block
        width: 13em
        padding: 1.6em 0 2em 0
        letter-spacing: .2em

    .primary-links
        max-width: 16.5em
        margin: 0 auto

        .primary-link
            font-weight: $normal
            padding: .5em .7em
            letter-spacing: .1em
            border: 1px solid $trans
            border-radius: 4px

            &.left
                float: left

            &.right
                float: right

            &:hover
                color: $blue
                background: $white

            &.active
                position: absolute
                z-index: 1000
                margin: 0
                padding: 2em
                cursor: default
                text-align: left
                color: $blue
                border: 0
                background: $white

    .social-links
        font-size: 2em
        clear: both
        margin-top: 1.6em

        .social-link
            font-weight: $normal
            padding-right: .3em
            color: $trans

            &:last-of-type
                padding-right: 0

            .text
                font-size: .5em
                line-height: 2em
                display: inline-block
                overflow: hidden
                width: 0
                margin-left: .3em
                transition: width .2s ease-out
                text-align: left
                vertical-align: top
                white-space: nowrap
                letter-spacing: .1em

            &:hover
                color: $white

                .text
                    width: 6em
