h2 Nineteen
.tags UX . UI . front-end
p.
    Nineteen is a tool for visually exploring qualitative data.

h3 The problem
p.
    Popular graphing tools are built to explore quantitative, not qualitative, datasets. Nineteen came to Truth Labs looking for help designing and building their tool.

h3 The solution
p.
    I helped design and prototype a tool that allows visual exploration of datasets of various sizes and structures.

.image-container
    .thumb.current(style="max-width: 500px; background-image: url('/img/nineteen-prototype.gif')", alt="Prototype showing key interactions")

    .thumb(style="max-width: none; background-image: url('/img/nineteen-final-1.png')", alt="The final design")

    .thumb(style="max-width: none; background-image: url('/img/nineteen-final-2.png')", alt="Showing active states")

    p.caption
        strong Fig. <span class="number">1</span>:&nbsp;
        span.description Prototype showing key interactions

    img.large(src="/img/nineteen-prototype.gif", alt="Prototype showing key interactions", style="max-width: 500px")
