h2 Reliefwatch
.tags UX . UI . back-end . front-end
p.
    Reliefwatch makes supply chain software for health organizations in the developing world.

h3 The problem
p.
    Current supply chain solutions require infrastructure that doesn&rsquo;t yet exist in remote areas, like reliable internet access. However, most people have access to basic mobile phones.

h3 The solution
p.
    Reliefwatch uses automated voice calls to gather data from remote workers and share it with healthcare providers.

.image-container
    .thumb.current(style="max-width: 500px; background-image: url('/img/reliefwatch-mobile.png')", alt="Mobile survey & inventory tracking")

    .thumb(style="max-width: none; background-image: url('/img/reliefwatch-dashboard.png')", alt="Desktop dashboard")

    p.caption
        strong Fig. <span class="number">1</span>:&nbsp;
        span.description Mobile survey &amp; inventory tracking

    img.large(src="/img/reliefwatch-mobile.png", alt="Mobile survey & inventory tracking", style="max-width: 500px")
