h2 Wrigley Rooftops
.tags back-end . front-end
p.
    Wrigley Rooftops is the premier rooftop provider for Cubs games and other events at Wrigley Field.

h3 The problem
p.
    It&rsquo;s not easy to manage 11 buildings with independent marketing and booking sites. That&rsquo;s why Wrigley Rooftops came to Truth Labs for help bringing their properties under one domain.

h3 The solution
p.
    Truth Labs designed the marketing, ticket search, and sales pages from the ground up. I helped build their secure payment flow using Stripe, a simple CMS using their existing Salesforce setup, and brought the designs to life with custom animation.

.image-container
    .thumb.current(style="max-width: 500px; background-image: url('/img/wrigley-marketing.jpg')", alt="Browsing the rooftops")

    .thumb(style="max-width: none; background-image: url('/img/wrigley-booking.jpg')", alt="Searching for tickets")

    p.caption
        strong Fig. <span class="number">1</span>:&nbsp;
        span.description Browsing the rooftops

    img.large(src="/img/wrigley-marketing.jpg", alt="Browsing the rooftops", style="max-width: 500px")
