
%h2 Notably
.tags UX, UI, Back-end, Front-end

%p
  Notably is a newsletter of important updates from your friends. Users can choose to receive daily or weekly email updates. Notably was built using the Facebook API.
%h3
  %i.margin-right.fa.fa-flag-o
  The problem
%p
  Friends move, switch jobs, and fall in (and out of) love often. Outside of your close friends, there's no easy way to keep track of what's going on.
%h3
  %i.margin-right.fa.fa-lightbulb-o
  The solution

.image-container
  .thumb.current{ style: "max-width: none; background-image: url('http://40.media.tumblr.com/9434c4ce5ea7dcd2ab7d77f1cf899277/tumblr_nrpfcybLcT1tcblceo3_r1_1280.png')", alt: "Sample weekly update email", data-image-url: "http://40.media.tumblr.com/9434c4ce5ea7dcd2ab7d77f1cf899277/tumblr_nrpfcybLcT1tcblceo3_r1_1280.png" }
  .thumb{ style: "max-width: 300px; background-image: url('http://31.media.tumblr.com/9351c4444eee7178682d210798550be1/tumblr_nrpfcybLcT1tcblceo2_400.gif')", alt: "Responsive web app on an iPhone", data-image-url: "http://31.media.tumblr.com/9351c4444eee7178682d210798550be1/tumblr_nrpfcybLcT1tcblceo2_400.gif" }
  .thumb{ style: "max-width: none; background-image: url('https://40.media.tumblr.com/7ec23518534d004eb668db47ff564aea/tumblr_nrpfcybLcT1tcblceo1_r1_1280.png')", alt: "Responsive web app", data-image-url: "https://40.media.tumblr.com/7ec23518534d004eb668db47ff564aea/tumblr_nrpfcybLcT1tcblceo1_r1_1280.png" }

  %p.caption
    %strong Fig. <span class="number">1</span>:
    &nbsp;
    %span.description Sample weekly update email

  %img.large{ src: "http://40.media.tumblr.com/9434c4ce5ea7dcd2ab7d77f1cf899277/tumblr_nrpfcybLcT1tcblceo3_r1_1280.png", alt: "Sample weekly update email", style: "max-width: none" }
