
%h2 Odds &amp; ends

.image-container
  .thumb.current{ style: "max-width: 300px; background-image: url('http://38.media.tumblr.com/ea4f561d5a6e83eac16e9c01835a80ba/tumblr_nrp7w22z5i1tcblceo1_r1_400.gif')", alt: "The simple task app 'Shit to do'" }
  .thumb{ style: "max-width: none; background-image: url('http://36.media.tumblr.com/ad361a09aa9efc425454270d2cbaa06e/tumblr_nsa0n1k2fu1tcblceo1_1280.png')", alt: "Landing page for an independent project" }
  .thumb{ style: "max-width: none; background-image: url('https://41.media.tumblr.com/132f1f5552a39549ff34973fbbb572dc/tumblr_nrt648skQQ1tcblceo1_r1_1280.png')", alt: "Freelance corporate website for TGG Group" }

  %p.caption
    %strong Fig. <span class="number">1</span>:
    &nbsp;
    %span.description The simple task app 'Shit to do'

  %img.large{ src: "http://38.media.tumblr.com/ea4f561d5a6e83eac16e9c01835a80ba/tumblr_nrp7w22z5i1tcblceo1_r1_400.gif", alt: "Responsive web app on an iPhone", style: "max-width: 300px" }
