
%h2 Reddit redesign concept
.tags UX, UI

%p
  I love reddit. The content, not the site. I find myself on Imgur browsing reddit content all the time. This seemed like a red flag for their interface, so I redesigned it: <a href="https://medium.com/@stothelios/reddit-redesign-concept-913aa552124e">Read about it on Medium</a>
%h3
  %i.margin-right.fa.fa-flag-o
  The problem
%p
  The main problem is the flow. Users have to revisit the homepage after clicking on each link. That’s a lot of clicking back and forth.
%p
  There are also issues with the UI. The homepage is full of items competing for attention and it’s hard to preview images with the small existing thumbnails.
%h3
  %i.margin-right.fa.fa-lightbulb-o
  The solution

.image-container
  .thumb.current{ style: "max-width: none; background-image: url('http://41.media.tumblr.com/96a401ee75cc9822f9ca7eb5854131ba/tumblr_nryvrifaGo1tcblceo2_1280.png')", alt: "Mockup of the redesigned homepage" }
  .thumb{ style: "max-width: none; background-image: url('http://41.media.tumblr.com/8c443c10100efb82ff38266a78c97b4d/tumblr_nryvrifaGo1tcblceo1_1280.png')", alt: "Mockup of the redesigned post page" }
  .thumb{ style: "max-width: none; background-image: url('http://41.media.tumblr.com/fac124634e0ca35e78e3fdc2d2d4204f/tumblr_nryvrifaGo1tcblceo4_1280.png')", alt: "Wireframe of the redesigned homepage" }
  .thumb{ style: "max-width: none; background-image: url('http://41.media.tumblr.com/cc5da8fc9ef7d6f0744fd7a0ea9f8b1f/tumblr_nryvrifaGo1tcblceo3_r1_1280.png')", alt: "Wireframe of the redesigned post page" }

  %p.caption
    %strong Fig. <span class="number">1</span>:
    &nbsp;
    %span.description Mockup of the redesigned homepage

  %img.large{ src: "http://41.media.tumblr.com/96a401ee75cc9822f9ca7eb5854131ba/tumblr_nryvrifaGo1tcblceo2_1280.png", alt: "Mockup of the redesigned homepage", style: "max-width: none" }
