
%h2 Reliefwatch
.tags UX, UI, Back-end, Front-end

%p
  Reliefwatch is supply chain software for health organizations in the developing world.
%h3
  %i.margin-right.fa.fa-flag-o
  The problem
%p
  Conventional supply chain solutions rely on infrastructure that doesn't yet exist. However, most people have access to basic mobile phones.
%h3
  %i.margin-right.fa.fa-lightbulb-o
  The solution
%p
  Reliefwatch uses voice calls to gather data from remote health centers. As CPO, I helped design and build the responsive web interface.
.image-container
  .thumb.current{ style: "max-width: 500px; background-image: url('https://36.media.tumblr.com/f8ef62784e8c34e109cc5c198ff920af/tumblr_nrsm7h1x5A1tcblceo1_r1_540.png')", alt: "Responsive web app on an iPhone" }
  .thumb{ style: "max-width: none; background-image: url('https://41.media.tumblr.com/d0da04b4275ec28ac746af7feedb091c/tumblr_nrsm7h1x5A1tcblceo5_r1_1280.png')", alt: "Responsive web app" }
  .thumb{ style: "max-width: none; background-image: url('https://41.media.tumblr.com/b2585f98369892830a1d7d59db574740/tumblr_nrsm7h1x5A1tcblceo4_r1_1280.png')", alt: "Responsive web app" }
  .thumb{ style: "max-width: none; background-image: url('http://40.media.tumblr.com/fc0a366c3be96911bd24431c01d67c8a/tumblr_nrt6mr9jJq1tcblceo1_r3_1280.png')", alt: "Landing page" }

  %p.caption
    %strong Fig. <span class="number">1</span>:
    &nbsp;
    %span.description Responsive web app on an iPhone

  %img.large{ src: "https://36.media.tumblr.com/f8ef62784e8c34e109cc5c198ff920af/tumblr_nrsm7h1x5A1tcblceo1_r1_540.png", alt: "Responsive web app on an iPhone", style: "max-width: 500px" }
