!!! 5
%html
    %head
        @@include("_header.html")

    %body
        .container
            .slide.slide-1.active
                .logo.slide-up
                    .first stelios
                    .last constantinides

            .slide.slide-2
                .logo
                    .first slide 2
                    .last stuff

            .slide.slide-3
                .logo
                    .first slide 3
                    .last stuff

        @@include("_javascript.html")
