!!! 5
%html
    %head
        @@include("_header.html")

    %body
        .container
            .content
                .logo
                    .first stelios
                    .last constantinides

        @@include("_javascript.html")
