doctype html
html(lang="en")
    head
        include _header.pug

    body
        #landing
            .logo
                .top Stelios
                .bottom
                    span Designs &amp; develops for the web
                    .links
                        a.link.portfolio-link(href="/portfolio.html")
                            .text Portfolio
                        a.link.external-link(href="https://medium.com/@stothelios")
                            .text Blog

            .social
                a.link.external-link(href="https://dribbble.com/stothelios")
                    i.fa.fa-dribbble
                a.link.external-link(href="https://github.com/sconstantinides")
                    i.fa.fa-github-alt
                a.link.external-link(href="https://www.linkedin.com/in/sconstantinides")
                    i.fa.fa-linkedin
                a.link.external-link(href="https://twitter.com/stothelios")
                    i.fa.fa-twitter
                a.link#email
                    i.fa.fa-envelope-o

        include _javascript.pug
        script(src="dist/landing.min.js")
