doctype html
html(lang="en")
    head
        include _header.pug

    body
        .container
            .content
                .logo.fade-in
                    .top Stelios
                    .bottom.fade-in.
                        Designs &amp; develops products for the web
                        <br><br>
                        // Portfolio
                        // Blog

        include _javascript.pug
